<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه دانلود</title>
    <style>
        ul{
            list-style-type: none;
        } 
        a{
            text-decoration:none;
        }
    </style>
</head>
<body style="background-color: black;">
    <ul>
        {% for item in media %}
        <li style="text-decoration:none; color:white ;"> {{item}} </li> 
        {%endfor%}
    </ul>
</body>
</html>